body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  background: #f6f6f6;
}
h1,
h2 {
  color: #003366;
}
.projet {
  margin-bottom: 2rem;
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 5px #ccc;
}

.contact-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0077cc;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #005fa3;
}
